





<div class="col-md-6">
        <form action="" method="POST">

            
<script>
var inputdiv = document.createElement("div");

    inputdiv.className = "col-md-6";




</script>



</select>
          </div>
          <div class="form-gorup">
            <input type="submit" name="create" value="Add User" class="btn btn-primary">
          </div> </select>
          </div>
          <div class="form-gorup">
            <input type="submit" name="create" value="Add User" class="btn btn-primary">
          </div>














